# VSCode repo settings
.vscode
node_modules
.trybe.yml
.github
trybe
README.md

reporter.json
package.json
package-lock.json
.eslintrc.json
.eslintignore
.eslintcache
*.log
cupress
cypress
cypress.json
cypress.config.js
cypress.env.json
.github
.trybe
art-with-pixels.gif

.editorconfig
.stylerlintrc.json
